@charset "UTF-8";
/* CSS Document */
/**************************/
/********** ALL ***********/
/**************************/
body {
    margin-top: 90px;
}
p {
    text-align: justify;
}

h1 {
    margin-top: 30px;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

hr {
    height: 1px;
    background-color: #8e8e8e;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.no-pad {
    padding: 0px;

}
.thumbnail {
    margin-bottom: 0px;
}
.commentaires {
    margin-bottom: 10px;
}

button.close{
    position: absolute;
    right:10px;
    font-size: 50px;
    z-index: 2000;
    opacity: 0.6;
    margin-bottom: 20px;
    margin-top: 20px;
}

#upload-icon {
    color: #000;
    opacity: 0.5;
    font-size: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#thumbnail-upload {
    text-align: center;
}
/**************************/
/********** HEADER ********/
/**************************/


.navbar-default {
    background-color: rgba(209,47,25,1);
    padding-left: 15px;
    text-align: center;
    height: 90px;
}
#container-nav{
    padding: 0px;
    display: inline-block;
}
.navbar-nav h1 {
    color: white;
    font-size: 16px;
    margin: inherit;
    text-transform: uppercase;
}

.navbar-nav .fa-street-view,
.navbar-nav .fa-upload {
    font-size: 42px;
}
.nav>li {
    display: inline-block;
}
/**************************/
/********** MAIN **********/
/**************************/

body {
    background-color: #EDEEEF;
}

a {
    cursor: pointer;
}

i {
    color: white;
}

/**************************/
/********** FOOTER ********/
/**************************/

footer {
    background-color: rgba(209,47,25,1);
    padding: 10px;
    margin-top: 20px;
}

footer p {
    text-align: center;
    color: white;
    margin: 0px;
}

/*******************************/
/*******PAGE LOGIN**************/
/*******************************/

