<html>
<head>
    <title>Formulaire de Contact</title>
</head>
<form action="{{ path('homepage_sendMail') }}" method="POST" >
    <h1>Veuillez renseigner les champs suivants :</h1>
    <br>
    <br>
    <br>
    <h2>Subjet : </h2>
    <input type="text" name="Subject">
    <br>
    <h2>Email : </h2>
    <br>
    <input type="text" name="Subject">
    <br>
    <h2>Message : </h2>
    <br>
    <textarea name="message"></textarea>

    <input type="submit" value="Send"/>
</form>
</html>