{% extends 'base.html.twig' %}

{% block body %}
<br><br>
    {% for photo in photos %}
        <div class="col-xs-6 col-md-4 no-pad">
            <a data-toggle="modal" data-target="{{ '#' ~ photo.id }}">
                <div class="thumbnail">
                    <img src="{{ vich_uploader_asset(photo, 'image', 'MovBundle\\Entity\\Photos') }}" >
                </div>
            </a>
        </div>
        <div class="modal fade" id="{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="photomodal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    <div class="modal-body center-block">
                        <img src="{{ vich_uploader_asset(photo, 'image', 'MovBundle\\Entity\\Photos') }}" width="100%">
                        <br>
                        <div class="ratings"></div>
                        <br>
                        <div class="thumbnail commentaires">
                            <p>Ceci est un super commentaire de ouf</p>
                        </div>
                        <div class="thumbnail commentaires">
                            <p>Ceci est un super commentaire de ouf</p>
                        </div>
                        <div class="thumbnail commentaires">
                            <p>Ceci est un super commentaire de ouf</p>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    {% endfor %}



{% endblock %}